/* add your CSS here */
.bold {
    font-weight: 400;
}

.italic {
    font-style: italic;
}

li {
    list-style-type: none;
}

#image-card {
    border: 1px solid black;
}

#image-card-info {
    border: 1px solid black;
}

.padding {
    padding: 5px;
}